@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 0;
    font-family: 'Poppins', sans-serif;font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: black ;
    width: 100%;  
    /*position: fixed;
    z-index: 12;*/
}

.logo{
    flex-basis: 10%;
}

.logo img{
    height: 80px;
}

.navlinks{
    text-align: right;
    flex-basis: 80%;
}

.navlinks ul{
    position: relative;
    margin-right: 50px;
}

.navlinks ul li{
    position: relative;
    list-style: none;
    display:inline-block;
    padding: 8px 20px;
}

.navlinks ul li a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    
}

.navlinks ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li a:hover::after{
    width: 100%;
}

/*------------------*/
.profile{
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.fa-solid{
    color: #fff;
    margin-right: 0px;
}


.text{
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h1{
    font-size: 70px;
}

.text p{
    font-size: 20px;
}

/*-------------Section 3---Footer-------------*/

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 150px;
    height: 40vh;
}


.footerItem{
    height: 250px;
    width: 250px;
}

.QR{
    height: 250px;
    width: 250px;
}

.f_icon{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.f_logo{
    border: 2px solid black;
    height: 250px;
    width: 250px;
    padding: 0;
}




/*------------------------------------*/
/*--------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.formsection{
  height: 100vh;
  place-items: left-side;
  background-image: url("../images/a.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
::selection{
  background:  #ff80bf;

}
.container{
  background: #fff;
  max-width: 550px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin : 0 auto;
}
.container form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
  text-align: center;
}
.container .forget_div{
	line-height: 50px;
} 
.container .new-Account{
  width: 100%;
  height: 35px;
  margin-top: 25px;
  position:relative;
}
.container .new-Account input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border-color: green;
  border-radius: 10px;
}

.container form .input-box{
  width: 100%;
  height: 35px;
  margin-top: 25px;
  position:relative;
  
}
.container form .input-box input{
  width: 50%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
  
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
  
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: green;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container form .button{
  margin: 40px 0 20px 0;
}
.container .input-box input[type="submit"]{
  background: black;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background: green;
}

.container .option{
  font-size: 14px;
  text-align: center;
}
.container .facebook a,
.container .google a{
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.container .facebook i,
.container .google i{
  padding-right: 12px;
  font-size: 20px;
}
.container .google a{
  background: linear-gradient(to right,  #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
   text-align:center;
}
.container .google a:hover{
  background: linear-gradient(to left,  #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container .facebook a{
  background: linear-gradient( to right,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
   text-align:center;
}
.container .facebook a:hover{
  background: linear-gradient( to left,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}

/* comment */

